body{
    padding-top:100px
}
.card {
    margin-bottom: 1rem;
}
.card table {
    margin-bottom: 0;
}
.table td.perc {
    position:relative;
    text-align:right;
    width:3em;
    z-index:1;
}
.table td.perc div {
    position:absolute;
    right:0;
    top:10%;
    z-index:-1;
    background-color: #18BC9C;
    height:75%;
    text-align: right;
    border-radius: 0.25rem;
}
.table td.perc span {
    color:black;
}
