{{template "top" $}}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>About</h1>
      <p class="lead">DZDB collects analyzes and archives changes to the root zone files provided by the various
        TLDs.</p>

      <p>Zone file data can provide the most complete and comprehensive view of the current state of DNS. And over time
        this data exposes trends useful for analysis and research.</p>
      DZDB is a fork of DNS Coffee which started indexing 4 zones in 2011 and now analyzes over 1200 zones every day!

      <p>For questions or research inquiries reach out to research@dns.coffee.</p>
    </div>
  </div>
</div>

{{template "bottom" $}}
