<!-- https://bootswatch.com/flatly/ -->
{{define "top"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate" />
    <meta http-equiv="content-language" content="en" />
    <title>{{$.Title}} - DNS Coffee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css"
        media="screen">
    <link rel="stylesheet" href="/static/custom.css">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/favicon-512x512.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js" crossorigin="anonymous"></script>
</head>

<body>
    {{template "navbar.tmpl" $}}
    <div class="container">
        {{end}}
        <!-- PAGE CONTENT HERE -->
        {{define "bottom"}}
        <footer id="footer">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        <li class="float-lg-right"><a href="#top">Back to top</a></li>
                        <!-- <li><a href="#">A</a></li> -->
                        <!-- <li><a href="#">B</a></li> -->
                    </ul>
                    <p>&copy; 2016 Vorsk</p>
                </div>
            </div>
        </footer>
    </div><!-- /container -->
    <!-- set the correct tab to active on the navbar -->
    <script>if ({{ $.Tab }}.length) { $('#navbarResponsive a:contains({{$.Tab}})').parent().addClass('active'); }</script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-92793405-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
{{end}}