{{template "top" $}}

<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <h3 class="card-header">Feed Search</h3>
      <form onsubmit="feedSearch(); return false">
        <div class="card-body">
          <div class="form-group">
            <input class="form-control form-control-lg" type="text" name="query" placeholder="example" id="search"
              value="">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-header">Info</div>
      <div class="card-body">
        <h4 class="card-title">Feed Search</h4>
        <p class="card-text">Search feeds of old, moved, and new domain names for substring matches in the last year.
        </p>
        <p class="card-text">Queries must be at least 4 characters long and contain only valid domain characters.</p>
      </div>
    </div>
  </div>
</div>

<div id="graph_row" class="row" style="display:none">
  <div class="col-md-12">
    <div class="card">
      <a href="#feedchart" id="feedchart"
        class="list-group-item d-flex justify-content-between align-items-center active">
        Feed Graph
      </a>
      <div id="spinner1" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id="feedDiv"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function feedSearch() {
    var term = document.getElementById("search").value;
    if (term.length < 4) {
      // TODO show error
      return;
    }

    $("#graph_row").show()
    $("#spinner1").show()
    $("#feedDiv").hide()

    Promise.all([
      fetch("/api/feeds/new/search/" + term).then(response => response.json()),
      fetch("/api/feeds/moved/search/" + term).then(response => response.json()),
      fetch("/api/feeds/old/search/" + term).then(response => response.json()),
    ])
      .then(([newFeed, movedFeed, oldFeed]) => {
        //console.log(newFeed, movedFeed, oldFeed);

        newDates = [];
        newDomains = [];
        newFeed.data.counts.forEach(function (e) {
          newDates.push(e.date);
          newDomains.push(e.count);
        });

        oldDates = [];
        oldDomains = [];
        oldFeed.data.counts.forEach(function (e) {
          oldDates.push(e.date);
          oldDomains.push(e.count);
        });

        movedDates = [];
        movedDomains = [];
        movedFeed.data.counts.forEach(function (e) {
          movedDates.push(e.date);
          movedDomains.push(e.count);
        });

        var data = [{
          x: newDates,
          y: newDomains,
          type: 'scatter',
          mode: "lines",
          name: "New Domains",
        },
        {
          x: movedDates,
          y: movedDomains,
          type: 'scatter',
          mode: "lines",
          name: "Moved Domains",
        },
        {
          x: oldDates,
          y: oldDomains,
          type: 'scatter',
          mode: "lines",
          name: "Old Domains",
        }];

        var layout = {
          autosize: true,
          showlegend: true,
          automargin: true,
        };

        var config = {
          displaylogo: false,
          responsive: true
        };

        $("#feedDiv").show();
        Plotly.newPlot('feedDiv', data, layout, config).then(function () { $("#spinner1").hide() });

      });
  }
</script>

{{template "bottom" $}}