{{template "top" $}}

<div class="row">
  <div class="col-lg-4">
    <div class="card mb-3">
      <h3 class="card-header">DNS Search</h3>
      <form method="post" action="/search">
        <div class="card-body">
          <div class="form-group">
            <input class="form-control form-control-lg" type="text" name="query" placeholder="example.com" id="search">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-lg-6">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-header">DNS Coffee?</div>
      <div class="card-body">
        <p class="card-text">DNS Coffee collects and archives stats from DNS <a href="https://en.wikipedia.org/wiki/Zone_file">Zone files</a> in order to provide insights into the growth and changes on DNS over time.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <a href="#chart" id="chart" class="list-group-item d-flex justify-content-between align-items-center active">
        TLD ROOT Zone Growth
      </a>
      <div id="spinner1" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id="historyDiv"></div>
    </div>
    <script>
      fetch("/api/counts/zone/ROOT")
        .then(response => response.json())
        .then(api_response => {
          dates = [];
          domains = [];
          api_response.data.history.forEach(function (e) {
            dates.push(e.date);
            domains.push(e.domains);
          });

          var data = [{
            x: dates,
            y: domains,
            type: 'scatter',
            mode: "lines",
            name: "TLDs",
          }];

          var layout = {
            autosize: true,
            showlegend: true,
            automargin: true,
          };

          Plotly.newPlot('historyDiv', data, layout, { displaylogo: false }).then(function(){$("#spinner1").hide()});
        });
    </script>
  </div>
  <div class="col-md-6">
    <div class="card">
      <a href="#" class="list-group-item d-flex justify-content-between align-items-center active">
        Domain Distribution Over Zones
      </a>
      <div id="spinner2" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id='pieDiv'></div>
    </div>
    <script>
fetch("/api/zones")
  .then(response => response.json())
  .then(api_response => {
    function compareRev(a, b) {
      if (a.domaigns < b.domains) {
        return 1;
      }
      if (a.domains > b.domains) {
        return -1;
      }
      return 0;
    }
    api_response.data.zones.sort(compareRev);

    num_other_limit = 100;


    otherData = [];
    for (i=0; i<num_other_limit; i++) {
      otherData.push(api_response.data.zones[i]);
    }
    otherCount = 0;
    for (i=num_other_limit; i<api_response.data.zones.length; i++) {
      otherCount = otherCount + api_response.data.zones[i].domains;
    }
    
    values = [];
    labels = [];
    otherData.forEach(function (e) {
      values.push(e.domains);
      labels.push(e.zone);
    });
    values.push(otherCount);
    labels.push("*other*");

    var data = [{
      values: values,
      labels: labels,
      textinfo: "label+percent",
      hoverinfo: 'label+value+percent',
      textposition: "inside",
      type: 'pie'
    }];

    var layout = {
      autosize: true,
      showlegend: false,
      automargin: true,
    };

    Plotly.newPlot('pieDiv', data, layout, { displaylogo: false }).then(function(){$("#spinner2").hide()});
  });
</script>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#chart" id="chart" class="list-group-item d-flex justify-content-between align-items-center active">
        Internet Domains Growth
      </a>
      <div id="spinner3" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id='domainHistoryDiv'></div>
    </div>
    <script>
      fetch("/api/counts/")
        .then(response => response.json())
        .then(api_response => {
          dates = [];
          domains = [];
          api_response.data.history.forEach(function (e) {
            dates.push(e.date);
            domains.push(e.domains);
          });

          var data = [{
            x: dates,
            y: domains,
            type: 'scatter',
            mode: "lines",
            name: "Domains",
          }];

          var layout = {
            autosize: true,
            showlegend: false,
            automargin: true,
          };

          Plotly.newPlot('domainHistoryDiv', data, layout, { displaylogo: false }).then(function(){$("#spinner3").hide()});
        });
    </script>
  </div>
</div>

{{template "bottom" $}}
