{{template "top" $}}

<div class="col-md-6" >
  <a href="/ip/{{$.Data.IP}}"><h1>{{$.Data.IP}}</h1></a>
</div>

<div class="list-group col-md-8">
  <a href="#" class="list-group-item active">IP Nameserver Zone Count<span class="badge">{{len $.Data.ZoneNSCounts}}</span></a>
  <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Zone</th>
      <th>Number of Nameservers</th>
    </tr>
  </thead>
  <tbody>
  {{ range $key, $value := $.Data.ZoneNSCounts}}
    <tr>
      <td><a href="/zones/{{$value.Zone}}">{{$value.Zone}}</a></td>
      <td>{{$value.Count}}</td>
    </tr>
  {{ end }}
  </tbody>
  </table>
</div>
{{template "bottom" $}}
