{{template "top" $}}


<div class="page-header">
  <a href="/ip/{{$.Data.IP}}"><h1>{{$.Data.IP}}</h1></a>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <a href="#" class="list-group-item d-flex justify-content-between align-items-center active">
        IP Nameserver Zone Count
        <span class="badge badge-light badge-pill">{{len $.Data.ZoneNSCounts}}</span>
      </a>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Zone</th>
            <th>Number of Nameservers</th>
          </tr>
        </thead>
        <tbody>
          {{ range $key, $value := $.Data.ZoneNSCounts}}
          <tr>
            <td><a href="/zones/{{$value.Zone}}">{{$value.Zone}}</a></td>
            <td class="perc">
              <span>{{$value.Count}}</span>
              <div style="width:{{$value.Percent}}%">&nbsp;</div>
              </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{template "bottom" $}}
