{{template "top" $}}

<div class="page-header">
  <a href="/ip/{{$.Data.IP}}">
    <h1>{{$.Data.IP}}</h1>
  </a>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <a href="#" class="list-group-item d-flex justify-content-between align-items-center active">
        IP Nameserver Zone Count
        <span class="badge badge-light badge-pill">{{len $.Data.ZoneNSCounts}}</span>
      </a>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Zone</th>
            <th>Number of Nameservers</th>
          </tr>
        </thead>
        <tbody>
          {{ range $key, $value := $.Data.ZoneNSCounts}}
          <tr>
            <td><a href="/zones/{{$value.Zone}}">{{$value.Zone}}</a></td>
            <td class="perc">
              <span>{{$value.Count}}</span>
              <div style="width:{{$value.Percent}}%">&nbsp;</div>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <a href="#chart" id="chart" class="list-group-item d-flex justify-content-between align-items-center active">
        Zone NS Distribution
      </a>
      <div id="spinner1" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id="pieDiv"></div>
    </div>
    <script>
      fetch("/api/research/ipnszonecount/{{$.Data.IP}}")
        .then(response => response.json())
        .then(api_response => {
          values = [];
          labels = [];
          api_response.data.zone_counts.forEach(function (e) {
            values.push(e.count);
            labels.push(e.zone);
          });

          var data = [{
            values: values,
            labels: labels,
            textinfo: "label+percent",
            hoverinfo: 'label+value+percent',
            textposition: "inside",
            type: 'pie'
          }];

          var layout = {
            autosize: true,
            showlegend: false,
            automargin: true,
          };

          var config = {
            displaylogo: false,
            responsive: true
          };

          Plotly.newPlot('pieDiv', data, layout, config).then(function () { $("#spinner1").hide() });
        });
    </script>
  </div>
</div>

{{template "bottom" $}}