{{template "top" $}}

<div class="col-lg-4">
  <div class="card mb-3">
    <h3 class="card-header">IP Search</h3>
    <form method="POST" action="/search">
      <div class="card-body">
        <div class="form-group">
          <input class="form-control form-control-lg" type="text" name="query" placeholder="127.0.0.1"
            id="search">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    <input type="hidden" name="type" value="ip">
    </form>
  </div>
</div>

{{template "bottom" $}}
