<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="/" class="navbar-brand">DNS Coffee ☕</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Records<span
                            class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/domains">Domains</a>
                        <a class="dropdown-item" href="/nameservers">Nameservers</a>
                        <a class="dropdown-item" href="/ip">IPs</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Zones<span
                            class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/root">ROOT</a>
                        <a class="dropdown-item" href="/tlds">TLDs</a>
                        <a class="dropdown-item" href="/tlds/graveyard">TLD Graveyard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/zones">Imported</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Research<span
                            class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/research/trust-tree">Trust Tree</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/search">Search<span
                            class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/search">Advanced Search</a>
                        <a class="dropdown-item" href="/search/prefix">Prefix</a>
                        <a class="dropdown-item" href="/search/feed">Feeds</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item navbar-right">
                    <form class="form-inline my-2 my-lg-0" method="post" action="/search">
                        <input class="form-control mr-sm-2" type="text" name="query" placeholder="example.com">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item navbar-right">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Link<span
                            class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="download">
                        <a class="dropdown-item" target="_blank" href="#">A</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">B</a>
                        <a class="dropdown-item" href="#">C</a>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</div>