{{template "top" $}}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#chart" id="chart" class="list-group-item d-flex justify-content-between align-items-center active">
        Import Time
      </a>
      <div id="spinner1" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id="historyDiv"></div>
    </div>
    <script>
      fetch("/api/stats/imports")
        .then(response => response.json())
        .then(api_response => {
          dates = [];
          diffTime = [];
          importTime = [];
          zones = [];
          api_response.data.dates.forEach(function (e) {
            dates.push(e.date);
            // time is in ns, divide by 6e+10 to get minutes
            diffTime.push(e.diff_duration / 6e+10);
            importTime.push(e.import_duration / 6e+10);
            zones.push(e.count);
          });

          var data = [{
            x: dates,
            y: zones,
            type: 'scatter',
            mode: "lines",
            name: "Zones",
          },
          {
            x: dates,
            y: diffTime,
            type: 'scatter',
            mode: "lines",
            name: "Diff Time",
            yaxis: 'y2',
          },
          {
            x: dates,
            y: importTime,
            type: 'scatter',
            mode: "lines",
            name: "Import Time",
            yaxis: 'y2',
          }];

          var layout = {
            autosize: true,
            showlegend: true,
            automargin: true,
            yaxis: { title: 'Total Zones' },
            yaxis2: {
              title: 'Time',
              overlaying: 'y',
              side: 'right'
            }
          };

          var config = {
            displaylogo: false,
            responsive: true
          };

          Plotly.newPlot('historyDiv', data, layout, config).then(function () { $("#spinner1").hide() });
        });
    </script>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card border-primary mb-3">
      <h3 class="card-header">Stats</h3>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Imports Remaining
          <span class="badge badge-primary badge-pill">{{$.Data.Imports}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Days Remaining
          <span class="badge badge-primary badge-pill">{{$.Data.Days}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <a href="#" class="list-group-item d-flex justify-content-between align-items-center active">
        Previous Imports
      </a>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Zones</th>
            <th>Diff Duration</th>
            <th>Import Duration</th>
          </tr>
        </thead>
        <tbody>
          {{ range $key, $value := $.Data.Dates }}
          <tr>
            <td>{{date $value.Date}}</td>
            <td>{{$value.Count}}</td>
            <td>{{$value.DiffDuration}}</td>
            <td>{{$value.ImportDuration}}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{template "bottom" $}}