{{template "top" $}}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>TLD Graveyard</h1>
      <!-- <p class="lead"></p> -->

      <p>This page lists TLDs seen in the root zone file that are not longer active.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" class="list-group-item d-flex justify-content-between align-items-center active">
        Dead TLDs
        <span class="badge badge-light badge-pill">{{len $.Data}}</span>
      </a>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>TLD</th>
            <th>Created</th>
            <th>Removed</th>
            <th>Age (days)</th>
          </tr>
        </thead>
        <tbody>
          {{ range $key, $value := $.Data }}
          <tr>
            <td><a href="/zones/{{$value.Zone}}">{{$value.Zone}}</a></td>
            <td>{{date $value.Created}}</td>
            <td>{{date $value.Removed}}</td>
            <td>{{if $value.Age}}{{nfmt (drefInt $value.Age)}}{{end}}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{template "bottom" $}}