{{template "top" $}}

<div class="row">
  <div class="col-md-6">
    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
    <div class="card-header">Warning</div>
    <div class="card-body">
        <h4 class="card-title">This page may be slow...</h4>
        <p class="card-text">There are lots of TLDs on the internet, and it takes a few seconds to crunch the most up-to-date numbers on all of them.</p>
    </div>
    </div>
 </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#chart" id="chart" class="list-group-item d-flex justify-content-between align-items-center active">
        TLD Growth
      </a>
      <div id="spinner1" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div id='tldHistoryDiv'></div>
    </div>
    <script>
      var a = [];
      fetch("/api/counts/all")
        .then(response => response.json())
        .then(api_response => {
          data = [];
          Object.values(api_response.data.counts).forEach(function (z) {
            dates = [];
            domains = [];
            max_value = 0;
            z.history.forEach(function (e) {
              dates.push(e.date);
              domains.push(e.domains);
              if (e.domains > max_value) {
                max_value = e.domains;
              }
              //max_value = e.domains;
            })
            data.push({
              type: 'scatter',
              name: z.zone,
              x: dates,
              y: domains,
              // fill: "tozeroy",
              max_value: max_value,
              stackgroup:"one",
            })
          });
          /* sort largest zones first */
          /*data.sort((a, b) => (a.y[a.y.length-1] < b.y[b.y.length-1]) ? 1 : -1);*/
          /* sort by max value */
          data.sort((a, b) => (a.max_value > b.max_value) ? 1 : -1);
          var layout = {
            autosize: true,
            showlegend: true,
            automargin: true,
            // the control button
            updatemenus: [{
              y: 0.8,
              yanchor: 'top',
              buttons: [{
                method: 'restyle',
                args: ['groupnorm', ''],
                label: 'normal'
              }, {
                method: 'restyle',
                args: ['groupnorm', 'percent'],
                label: 'percent'
              }]
            }]
          };

          Plotly.newPlot('tldHistoryDiv', data, layout, { displaylogo: false }).then(function () { $("#spinner1").hide() });
        });
    </script>
  </div>
</div>

{{template "bottom" $}}
