{{template "top" $}}

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <div class="card">
        <a href="#" class="list-group-item d-flex justify-content-between align-items-center active">
          Zones Pie Chart
          <!-- <span class="badge badge-light badge-pill"></span> -->
        </a>
        <div id='pieDiv'><!-- pie chart here --></div>
      </div>
      <script>
      fetch("/api/zones")
              .then(response => response.json())
              .then(api_response => {
                  values = [];
                  labels = [];
                  api_response.data.zones.forEach(function(e) {
                      values.push(e.domains);
                      labels.push(e.zone);
                  });
  
                  var data = [{
                  values: values,
                  labels: labels,
                  textinfo: "label",
                  hoverinfo: 'label+value+percent',
                  automargin: true,
                  textposition: "inside",
                  type: 'pie'
                  }];

                  var layout = {
                    height: 400,
                    width: 400,
                    showlegend: false,
                  };
  
                  Plotly.newPlot('pieDiv', data, layout,  {displayModeBar: false});
              });
      </script>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <a href="#" class="list-group-item d-flex justify-content-between align-items-center active">
        Tracked Zones
        <span class="badge badge-light badge-pill">{{$.Data.Count}}</span>
      </a>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Zone</th>
            <th>Domains</th>
            <th>Records</th>
            <th>Imports</th>
            <th>First Updated</th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
          {{ range $key, $value := $.Data.Zones }}
          <tr>
            <td><a href="/zones/{{$value.Zone}}">{{$value.Zone}}</a></td>
            <td>{{$value.Domains}}</td>
            <td>{{$value.Records}}</td>
            <td>{{$value.Count}}</td>
            <td>{{$value.FirstImportDate.Format "Jan 02, 2006"}}</td>
            <td>{{$value.LastImportDate.Format "Jan 02, 2006"}}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{template "bottom" $}}